- let months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'];
- let formatDate = d => `${months[d.getMonth()]} ${d.getDate()}, ${d.getFullYear()}`;

<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel='shortcut icon' href='/assets/favicon.png' type='image/x-icon')
        link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Fira+Mono&display=swap')
        link(rel='stylesheet' href='https://unpkg.com/basscss@8.0.2/css/basscss.min.css')
        link(rel='stylesheet' href='/css/main.css')
        link(rel='stylesheet' href='/css/prism-material-dark.css')
        title #{title}
    body
        .max-width-3.mx-auto.p3.fade-in
            .controls.px1
                a(href='' + page.fileSlug + '.md') edit
            p.h3
                a(href='/') kevin f.
            span.h5.p0.m0.light-subdue #{formatDate(page.date)}
            .page-content !{content}