---
layout: base.pug
title: kevin f.
pagination:
    data: collections.post
    size: 10
    alias: posts
    reverse: true
---

- let months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'];
- let formatDate = d => `${months[d.getMonth()]} ${d.getDate()}, ${d.getFullYear()}`;

.controls.px1
    a(href='https://github.com/kevinfiol/kevinfiol.com/new/master/blog') new

header
    div(style='width: 200px; height: 200px;')
        img.fade-in(style='width: 100%; height: 100%;' src='/assets/spes.png' alt='astronaut sitting at a computer')
    //- img(style='max-width: 200px; min-width: 200px' src='/assets/spes.png' alt='astronaut sitting at a computer')
    h1.mb0(style='font-weight: 400') kevin f.
    nav
        ul.list-reset
            li.inline-block.mr2
                a(href='/about/') about
            li.inline-block.mr2
                a(href='https://github.com/kevinfiol') github
            li.inline-block.mr2
                a(href='/demos/') demos
            li.inline-block
                a(href='/resume/') résumé
    p.italic(style='font-size: 0.9em') contact:
        a(href='mailto:fiolkevin@gmail.com') fiolkevin@gmail.com
    small
        em spaceman mascot by 
            a(href="https://erijt.tumblr.com") erijt.tumblr.com
hr
each post in posts
    article
        header
            h2.mb1
                a(href=post.url) #{post.data.title}
        small.h5.p0.m0.light-subdue #{formatDate(post.date)}
nav.py3(aria-labelledby="pagination")
    if pagination.href.previous
        a.mr2(href=pagination.href.previous) ← previous
    if pagination.href.next
        a(href=pagination.href.next) next →
