extends layout.pug

block links
    link(rel='stylesheet' href='/css/prism-material-dark.css')

block content
    - let months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'];
    - let formatDate = d => `${months[d.getMonth()]} ${d.getDate()}, ${d.getFullYear()}`;
    .controls.px1
        a(href='https://github.com/kevinfiol/kevinfiol.com/edit/master/blog/' + page.fileSlug + '.md') edit
    header
        nav
            p.h3
                a(href='/') kevin f.
    small.h5.p0.m0.light-subdue #{formatDate(page.date)}
    article.page-content !{content}